
# Node modules
node_modules/
backend-huitres/node_modules/

# Docker volumes
backend-huitres/mysql-data/
backend-huitres/mysql-data/*
!backend-huitres/init.sql

# Logs
*.log
backend-huitres/npm-debug.log*

# Environment & secrets
.env
backend-huitres/.env

# Build files
dist/
build/
